<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Anthem</title>
    <base href="">
    <link rel="stylesheet" href="./signup.component.scss" type="text/scss">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
    <div id="full"></div>
    <app-root></app-root>
    <form id="signuppage">
        <h1 id="signuph1">Sign Up</h1>
        <p id="username">Username:</p>
        <input id="username_input" placeholder="Enter username" required>
        <p id="password">Password:</p>
        <input type="password" id="password_input" placeholder="Enter password" required>
        <p id="password_confirm">Confirm password:</p>
        <input type="password" id="password_input_confirm" placeholder="Confirm password" required>
        <p id="first_name">First name:</p>
        <input type="username_input" id="first_name_input" placeholder="Enter first name" required>
        <p id="last_name">Last name:</p>
        <input type="username_input" id="last_name_input" placeholder="Enter last name" required>
        <p id="email">Email:</p>
        <input type="username_input" id="email_input" placeholder="Enter email" required>

        <a id="login" routerLink="/home" class="btn btn-link">Login</a>
        <input type="submit" id="login" >
    </form>
    <img id="sealy" src="../../../assets/sealy.png">
</body>

</html>