body{
	background-image: url(src/assets/blue-suede-modified-primary-backgrnd-darkmode-accent-color.jpg);
  	background-repeat: repeat;
}

#loginpage{
	position: absolute;
	background-image: url(src/assets/blue-suede-modified-primary-backgrnd-darkmode.jpg);
	width: 50%;
	height: 50%;
	left: 25%;
	top: 25%;
	border-radius: 20px;
	border: 5px solid #916f00;
	border-right-color: black;
	border-bottom-color: black;
	visibility: visible;
}
#loginh1{
	text-align: center;
	color: #916f00;
	font-family: Impact, Charcoal, sans-serif;
}
#username{
	position: absolute;
	left: 10%;
	top: 33%;
	color: #916f00;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 14pt;
}
#username_input{
	position: absolute;
	left: 21%;
	top: 38.5%;
}
#password{
	position: absolute;
	left: 10%;
	top: 55%;
	color: #916f00;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 14pt;
}
#password_input{
	position: absolute;
	left: 21%;
	top: 60.4%;
}
#login{
	position:absolute;
	background-image: url(src/assets/login-button.jpg);
	left: 47%;
	top: 84%;
}

#sealy{
	position: absolute;
	left:80%;
	top: 78%;
    width: 20%;
}