<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Anthem</title>
  <base href="">
  <link rel="stylesheet" href="./login.component.scss" type="text/scss">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
	<app-root></app-root>
	<div id="loginpage">
    <h1 id="loginh1">Sign in</h1>
    <p id="username">Username:</p>
    <input id="username_input" placeholder="Enter username">
    <p id="password">password:</p>
    <input type="password" id="password_input" placeholder="Enter password">
    
    <a class="login" routerLink='home' routerLinkActive='active'>Login</a>
  </div>
  <img id="sealy" src=src/assets/sealy.png>
</body>
</html>
